
<body>
<br>
<br>
<br>
<div class=".col-md-5">
<div class="card">
<% a="fresh promo" %>
		<div class="card-head">
		<hr>
		<div  class="card-title" id="title" ><font size=+15 ><%= a %></font>
		<hr>
<% if @promo_avail %>
<% @promo_avail.each do |promo| %>

	
<a href="#" class="btn btn-flat waves-attach waves-effect" data-toggle="modal" data-target="#<%= promo.id %>"><span class="icon">local_offer</span><%= promo.title %></a>
						<div aria-hidden="true" class="modal modal-va-middle fade" id="<%= promo.id %>"  role="dialog">
								<div class="modal-dialog modal-xs">
											<%= form_for promo, :url => {:action => "take_promo", :id => promo, :controller => "promos"} do |p| %>
											<div class="card">
									<div class="modal-heading">
										<h2 class="modal-title">Take this offer ?</h2>
											<div class="modal-content">
												<div class="modal-inner">
													<ul>
														<li>Title : <%= promo.title %> </li>
														<li>Leave Start at : <%= promo.start_date %> </li>
														<li>Leave End at : <%= promo.end_date %> </li>
														<li>Promo Expire at : <%= promo.expired_date %> </li>
														<li>Additional information : <%= promo.message %> </li>
													</ul>
												
												</div>
												<div class="modal-footer">
												
															<div align="middle">
															<%= p.hidden_field :taker_id, value: current_user.id %>
															<%= p.submit "Take", class: 'btn btn-trans' %>
															<% end %>
															</div>

												</div>
											</div>
											</div>
												
									</div>	
								</div>

												
						</div>
						<% end %>
						<% else %>
						<% a=="hello" %>
						<% end %>

		</div>
		<br>
		</div>
		



</div>
</div>
<div class="card">
	<div class="col-md-12">
		<h1>Leave Calender</h1>

	

	

<%= month_calendar do |date| %>
  
  
  <% @messages.each do |message| %>
		 		
	

	
		<% if (message.leave_start_date..message.leave_end_date).map { |e| e  }.include?(date)%>
		<a href="#" class="btn btn-trans" data-toggle="modal" data-target="#<%= message.id %>" >
		
		<%= message.user.username %>
		</a>
		
		 <div aria-hidden="true" class="modal modal-va-middle fade" id="<%= message.id %>" role="dialog" tab-index="0" position="fixed">
													<div class="modal-dialog modal-xs">
													<div class="card-calendar">
													<div class="modal-heading">
													<h2 class="modal-title"><span class="icon icon-lg">format_list_bulleted</span>Leave Information</h2>
													<div class="modal-content">
													<br>
														<p><span class="icon icon-lg">people</span> Position: <%= message.user.position %></p>
													<br>
													
														<p><span class="icon icon-lg">check</span> leave type 	   : <%= message.category %></p>
													<br>
													<p><span class="icon icon-lg">message</span> leave message   : <%= message.message %></p>
													<br>
													
														<p><span class="icon icon-lg">play_arrow</span> leave amount left : <%= message.user.amount %></p>
													<br>
													<div class="modal-footer">
														
													</div>
													
													</div>
													<br>
													</div>
													</div>
													</div>
		<% end%>
	</div>
 </div>
 </div>
 </div>
		<% end %> 
													<h2><%= date.day %></h2>
	<% end %>
	


	
																					</body>
																						 <% unless flash.empty? %>
																						  <script type="text/javascript">
																						      <% flash.each do |f| %>
																						      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
																						     	 toastr['<%= type %>']('<%= f[1] %>');
																						      <% end %>
																						  </script>
																						 <% end %>




																						