
<body>
<br>
<br>
<br>

<div class=".col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0">


<%= month_calendar do |date| %>
  
  
  <% @messages.each do |message| %>
		 		
	<div>

	
		<% if (message.leave_start_date..message.leave_end_date).map { |e| e  }.include?(date)%>
		<a href="#" class="btn btn-trans" data-toggle="modal" data-target="#<%= message.id %>" >
		
		<%= message.user.username %>
		</a>
		<br>
		 <div aria-hidden="true" class="modal modal-va-middle fade" id="<%= message.id %>" role="dialog" tab-index="0" position="fixed">
													<div class="modal-dialog modal-xs">
													<div class="card-calendar">
													<div class="modal-heading">
													<h2 class="modal-title"><span class="icon icon-lg">format_list_bulleted</span>Leave Information</h2>
													<div class="modal-content">
													<br>
														<p><span class="icon icon-lg">people</span> Position: <%= message.user.position %></p>
													<br>
													
														<p><span class="icon icon-lg">check</span> leave type 	   : <%= message.category %></p>
													<br>
													<p><span class="icon icon-lg">message</span> leave message   : <%= message.message %></p>
													<br>
													
														<p><span class="icon icon-lg">play_arrow</span> leave amount left : <%= message.user.amount %></p>
													<br>
													<div class="modal-footer">
														
													</div>
													
													</div>
													<br>
													</div>
													</div>
													</div>
		<% end%>
	</div>
 
 

		<% end %> 
													<h2><%= date.day %></h2>
	<% end %>
	
																					</body>
																						 <% unless flash.empty? %>
																						  <script type="text/javascript">
																						      <% flash.each do |f| %>
																						      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
																						     	 toastr['<%= type %>']('<%= f[1] %>');
																						      <% end %>
																						  </script>
																						 <% end %>