
<body >
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
<div class="content" >
    <div class="container">
  
      <div class="row con">
<div class="col-md-8">
    <font size="+2000">WELCOME TO</font>
    </div>
    </div>
    <H2>Qiscus Leave App</H2>
    </div>
        <div class="col-md-4 col-md-offset-7">

          <section class="content-inner">

            <div class="card-wrap">
              <div class="card">
                <div class="card-main">
                  <div class="card-header">
                    <div class="card-inner">
               
                    </div>
                  </div>
                  <div class="card-inner">
                  <p class="text-center">
                  </p>
                    <%= form_tag :sessions do %>
                      <div class="form-group-green form-group-label">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <label class="floating-label" for="login-username">Username</label>
                            <%= text_field_tag :username, '',class: 'form-control', id: 'login-username', placeholder: "Email",style: 'color: white;' %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group-green form-group-label">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <label class="floating-label" for="login-password">Password</label>
                            <%= password_field_tag :password, '',id: 'login-password', class: 'form-control', placeholder: "Password",style: 'color: white' %>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <%= submit_tag 'login',class:'btn btn-block btn-green'%>
                     
                          </div>
                        </div>
                      </div>
                      
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
              
            </div>

          </section>
        </div>
      </div>
    </div>
</div>
</body>
  </div>

     <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
   <% end %>
  
 

