
<div class="content">
    <div class="container">
      <div class="row">
      
          <section class="content-inner">
            <div class="card-wrap">
              <div class="card">
                <div class="card-main">
                  <h1 class="card-heading "style="color: white;"><span class="icon icon-lg">format_list_bulleted</span>Employees List</h1>
                    <div class="card-inner">
                      
                        
                      											<table class="table">
												<thead>
													<tr>
														<th>Username</th>
														<th>Email</th>
														<th>Status</th>
														<th>amount</th>
														<th>Action</th>
													</tr>
												</thead>
													  
												<tbody>

													<% @users.each do |user| %>
													
													<tr>
													
													<td>
														<%= user.username %>

														
													</td>
													<td>
														<%= user.email %>
													</td>
													<td>
													
														<%= user.status %>
													</td>
													<td>
														<%= user.amount %>
													</td>
													<td>
													<% if user.contract=="Active" %>
													<a href="#" class="btn btn-red" data-toggle="modal" data-target="#<%= user.id %>">Deactive</a>
													<% else %>
													inactive user
													<% end %>
													<div aria-hidden="true" class="modal modal-va-middle fade" id="<%= user.id %>" role="dialog" tabindex="-1">
						<div class="modal-dialog modal-xs">
						<div class="modal-content">
						<div class="modal-inner">
						<p class="content">Deactive this Account?</p>
						</div>
						<div class="modal-footer">
						<p class="text-right">
						<%= form_for user,:url => {:action => "deactive", :id => user, 
							:controller => "users" } do |f| %>
						<%= f.hidden_field :contract, value: "inactive" %>
						<%= f.submit "Deactive", class: 'btn btn-red' %>
						<div class="pull-right">

						<a class="btn btn-green" data-dismiss="modal">Cancel
						</a>
						</div>
						<% end %>
						</p>

						
						
						
						
						
						
						</div>
						</div>
						</div>
						</div>
												<% end %>
												</tbody>
											</table>
                          <%= will_paginate @users, class:'apple_pagination' %>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
   <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
   <% end %>