
<div class="content">
    <div class="container">
      <div class="row">
      
          <section class="content-inner">
            <div class="card-wrap">
              <div class="card">
                <div class="card-main">
                  <h1 class="card-heading "style="color: white;"><span class="icon icon-lg">format_list_bulleted</span>Employees List</h1>
                    <div class="card-inner">
                      
                        
                      											<table class="table">
												<thead>
													<tr>
														<th>Username</th>
														<th>Email</th>
														<th>Status</th>
														<th>amount</th>
														<th>Action</th>
													</tr>
												</thead>
													  
												<tbody>

													<% @users.each do |user| %>
													<tr>
													<td>
														<%= user.username %>
													</td>
													<td>
														<%= user.email %>
													</td>
													<td>
													<%	x=DateTime.now
														if  (user.messages.leave_start_date..user.messages.leave_end_date).include?(x)
															user.status=="not available"
															else
															user.status=="available"
															end %>
														<%= user.status %>
													</td>
													<td>
														<%= user.amount %>
													</td>
													<td>
													<a href="#" class="btn btn-red" data-toggle="modal" data-target="#<%= user.id %>">Delete account</a>
													<div aria-hidden="true" class="modal modal-va-middle fade" id="<%= user.id %>" role="dialog" tabindex="-1">
													<div class="modal-dialog modal-xs">
													<div class="modal-content">
													<div class="modal-inner">
													<p class="content">Delete this account ?</p>
												
													
													<a class="btn btn-red" rel="nofollow" href="/delete/<%= user.id %>">delete</a>
													

													<div class="pull-right">
													<a class="btn btn-yellow" data-dismiss="modal">Cancel
													</a>
													</div>
													
													</p>
						
						
						
						
						
						
						</div>
						</div>
						</div>
						</div>
		
					 
				
												<% end %>
												</tbody>
											</table>
                          <%= will_paginate @users, class:'apple_pagination' %>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
              
            </div>
        </div>
      </div>
    </div>
  </div>
   <% unless flash.empty? %>
    <script type="text/javascript">
        <% flash.each do |f| %>
        <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
         toastr['<%= type %>']('<%= f[1] %>');
        <% end %>
    </script>
   <% end %>