<TYPE html>
<html lang="en">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="avoid-fout">
	<header class="header header-transparent header-waterfall">
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu">
					<span class="icon icon-lg">menu</span>
				</a>
			</li>
		</ul>
		
		<ul class="nav nav-list pull-right">
			<li>
				<a data-toggle="menu" href="#profile">
					<span class="access-hide"></span>
					<span class="avatar"><img alt=""></span>
				</a>
			</li>
		</ul>
	</header>
	<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				
				<ul class="nav">
					<li>
						<a class="waves-attach" href="/create_messages">Create messages</a>
					</li>
					<li>
						<a class="waves-attach" href="/list_employee">List Employees</a>
					</li>
					<li>
						<a class="waves-attach" href="/list_messages">List messages</a>
					</li>
					<li>
						<a class="waves-attach" href="/list_messages_approved">List messages approved</a>
					</li>
					<li>
						<a class="waves-attach" href="/list_messages_rejected">List messages rejected</a>
					</li>
					<li>
						<a class="waves-attach" href="/resubmit_message">Resubmit message</a>
					</li>
					
					<li>
						<a class="waves-attach" href="/create_employee_account">Create Employee accounts</a>
					</li>
					
				</ul>
				
			</div>
		</div>
	</nav>
	<nav aria-hidden="true" class="menu menu-right" id="profile" tabindex="-1">
		<div class="menu-scroll">
			
			<div class="menu-content">
				<ul class="nav">
					<li>
						<a class="waves-attach" href="/profile_setting"><span class="icon icon-lg">account_box</span>Profile Settings</a>
					</li>
					
					<li>
						<a class="waves-attach" href="/logout"><span class="icon icon-lg">exit_to_app</span>Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="content">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-push-3 col-sm-10 col-sm-push-1">
						<h1 class="heading" style="text-align: center"><iframe src="http://free.timeanddate.com/clock/i56m3ycj/n666/fn11/fs18/fc9f0/tct/pct/avt/tt0" frameborder="0" width="396" height="23" allowTransparency="true"></iframe>
						</h1>
					</div>
				</div>
			</div>
		</div>
		<%= yield %>
		<div class="container">
			
		</div>
	</div>
	
</body>
<footer class="footer">
		<div class="container">
			<marquee behavior="alternate"><p>Leave app Qiscus</p></marquee>
		</div>
	</footer>
</html>

