<TYPE html>
<html lang="en">

<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body class="avoid-fout">

	<header class="header header-standard">
<div class="content">

		
						
					
		<ul class="nav nav-list pull-left">
			<li>
				<a data-toggle="menu" href="#menu" >
				
					<span class="icon icon-lg">menu</span>
					

				</a>


			</li>
		</ul>
		
		
		<ul class="nav nav-list pull-right">
			<li>
				
				<a data-toggle="menu" href="#profile">
					<span class="access-hide"></span>
					<% if current_user.avatar? %>
					<span class="avatar">
                        <%= image_tag current_user.avatar_url(:standard).to_s %>
					</span>
					<% else %>
					<span class="avatar">
						<%= image_tag 'default_picture.png'%>   	
                     </span>
					<% end %>
				</a>
			</li>
		</ul>
	</header>

	<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
		<div class="menu-scroll">
			<div class="menu-content">
				
				<ul class="nav">
					<li>
						<a class="waves-attach" href="/dashboard">Dashboard</a>
					</li>
					<a class="waves-attach waves-effect collapsed" data-toggle="collapse" href="#ui_menu_messsages" aria-expanded="false">Messages</a>
					<ul class="menu-collapse collapse" id="ui_menu_messsages">
							<li>

								<a class="waves-attach" href="/create_messages">Create messages</a>
							</li>
							
							<li>
								<a class="waves-attach" href="/list_messages">List messages</a>
							</li>
						
								<a class="waves-attach" href="/resubmit">Resubmit message</a>
							</li>
						</ul>
						
				    
				
					<li>

								<a class="waves-attach" href="/list_employee">List Employees</a>
					
					</li>
					
					
					<li>
								<a class="waves-attach" href="/create_employee_account">Create Employee accounts</a>
					</li>
					
				</ul>
				
			</div>
		</div>
	</nav>
	<nav aria-hidden="true" class="menu menu-right" id="profile" tabindex="0">

		<div class="menu-scroll">
			
			<div class="menu-content">
				<ul class="nav">
				<li>
					<li>
						<a class="waves-attach" href="/profile_setting"><span class="icon icon-lg">account_box</span>Profile Settings</a>
					</li>
					<li>
						<a class="waves-attach" href="/history"><span class="icon icon-lg">history</span>history</a>
					</li>
					<li>
						<a class="waves-attach" href="/logout"><span class="icon icon-lg">exit_to_app</span>Logout</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
	
		<%= yield %>
		<div class="container">
			
		</div>
	</div>
	<br>
	<br>
	<br>
	
	<div class="fbtn-container">
		<div class="fbtn-inner">
			<a class="fbtn fbtn-lg fbtn-brand-accent waves-attach waves-circle waves-light" data-toggle="dropdown"><span class="fbtn-ori icon">apps</span><span class="fbtn-sub icon">close</span></a>
			<div class="fbtn-dropup">
				<a class="fbtn waves-attach waves-circle" href="/promos"><span class="icon">local_offer</span></a>
				<a class="fbtn fbtn-brand waves-attach waves-circle waves-light" href="https://twitter.com/daemonites" target="_blank"><span class="fbtn-text fbtn-text-left">Follow Daemon on Twitter</span><span class="icon">share</span></a>
				<a class="fbtn fbtn-green waves-attach waves-circle" href="https://qisc.us/web.html" target="_blank"><span class="fbtn-text fbtn-text-left">Visit Qiscus</span><span class="icon">Q</span></a>
			</div>
		</div>
	</div>

</body>

</html>

